//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#define Base            0
#define Sym             1
#define Nav             2
#define Mods            3
#define Setting         4
#define Game            5
#define Gameplus        6
#define Mouse           7
#define Steno           8

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_setting {
            timeout-ms = <100>;
            key-positions = <32 37>;
            bindings = <&sl Mods>;
        };
    };

    //               0   1   2   3   4                   5   6   7   8   9
    //               10  11  12  13  14                  15  16  17  18  19
    //           20  21  22  23  24  25                  26  27  28  29  30  31
    //                       32  33  34                  35  36  37

    keymap {
        compatible = "zmk,keymap";

    Base {
        label = "Base";
        bindings = <
                 &kp Q  &kp W  &kp E          &kp R      &kp T                           &kp Y          &kp U     &kp I               &kp O    &kp P
                 &kp A  &kp S  &kp D          &kp F      &kp G                           &kp H          &kp J     &kp K               &kp L    &kp SEMICOLON
        &kp ESC  &kp Z  &kp X  &kp C          &kp V      &kp B                           &kp N          &kp M     &kp COMMA           &kp DOT  &kp SLASH      &kp SQT
                               &mt LCTRL TAB  &kp SPACE  &mt LSHIFT LS(LA(SEMI))         &lt Sym ENTER  &kp BSPC  &sl Mods
        >;
    };

    Sym {
        label = "Sym";
        bindings = <
                   &kp EXCL  &kp AT    &kp HASH      &kp DLLR  &kp PRCNT                  &kp CARET  &kp AMPS   &kp STAR  &kp BSLH  &kp GRAVE
                   &kp LT    &kp LBKT  &kp LBRC      &kp LPAR  &kp MINUS                  &kp EQUAL  &kp RPAR   &kp RBRC  &kp RBKT  &kp GT
        &kp GRAVE  &kp N1    &kp N2    &kp N3        &kp N4    &kp N5                     &kp N6     &kp N7     &kp N8    &kp N9    &kp N0     &kp BSLH
                                       &kp LEFT_GUI  &trans    &trans                     &none      &none      &none
        >;
    };

    Nav {
        label = "Nav";
        bindings = <
                &kp F1     &kp F2     &kp F3        &kp F4      &kp F5                      &kp F6       &kp F7    &kp F7   &kp F8     &kp F9
                &kp LCTRL  &kp LALT   &kp LEFT_GUI  &kp LSHIFT  &mo Mouse                   &kp LEFT     &kp DOWN  &kp UP   &kp RIGHT  &trans
        &trans  &kp LG(Z)  &kp LG(X)  &kp LG(C)     &kp LG(C)   &trans                      &kp F10      &kp F11   &kp F12  &trans     &trans  &kp BSPC
                                      &none         &none       &none                       &mo Setting  &kp BSPC  &trans
        >;
    };

    Mods {
        label = "Mods";
        bindings = <
                &trans     &trans     &trans        &trans       &trans                &trans    &sk RSHIFT  &sk RGUI  &sk RALT   &sk RCTRL
                &sk LCTRL  &sk LALT   &sk LGUI      &sk LSHIFT   &trans                &kp LEFT  &kp DOWN    &kp UP    &kp RIGHT  &trans
        &trans  &kp N1     &kp N2     &kp N3        &kp N4       &kp N5                &kp N6    &kp N7      &kp N8    &kp N9     &kp N0     &trans
                                      &sk LEFT_GUI  &mo Setting  &sl Nav               &none     &none       &none
        >;
    };

    Setting {
        label = "Setting";
        bindings = <
                &bt BT_CLR         &bootloader  &trans     &trans          &bt BT_SEL 0                  &to Steno  &trans      &trans    &bootloader  &trans
                &kp LCTRL          &kp LALT     &kp LGUI   &kp LSHIFT      &bt BT_SEL 1                  &trans     &kp RSHIFT  &kp RGUI  &kp RALT     &kp RCTRL
        &trans  &ext_power EP_TOG  &trans       &to Game   &studio_unlock  &bt BT_SEL 2                  &trans     &trans      &trans    &trans       &trans    &trans
                                                &trans     &trans          &trans                        &trans     &trans      &trans
        >;
    };

    Game {
        label = "Game";
        bindings = <
                  &kp TAB         &kp Q  &kp X       &kp E                &kp V                      &trans    &trans  &trans  &trans  &trans
                  &kp LEFT_SHIFT  &kp A  &kp W       &kp D                &kp R                      &trans    &trans  &trans  &trans  &trans
        &kp FSLH  &kp LCTRL       &kp Z  &kp S       &kp C                &kp F                      &trans    &trans  &trans  &trans  &trans  &trans
                                         &kp LALT    &lt Gameplus ESCAPE  &kp SPACE                  &to Base  &trans  &trans
        >;
    };

    Gameplus {
        label = "Gameplus";
        bindings = <
                  &kp N1  &kp N2  &kp N3      &kp N4  &kp N5                    &trans  &trans  &trans  &trans  &trans
                  &kp N6  &trans  &trans      &trans  &kp N7                    &trans  &trans  &trans  &trans  &trans
        &kp FSLH  &kp N8  &kp N9  &trans      &kp N0  &kp B                     &trans  &trans  &trans  &trans  &trans  &trans
                                  &kp ESCAPE  &trans  &to Game                  &trans  &trans  &trans
        >;
    };

    Mouse {
        label = "Mouse";
        bindings = <
                  &trans  &trans  &trans  &trans  &trans                    &mmv MOVE_X(-600)  &mmv MOVE_Y(600)  &mmv MOVE_Y(-600)  &mmv MOVE_X(600)  &trans
                  &trans  &trans  &trans  &trans  &trans                    &mmv MOVE_LEFT     &mmv MOVE_DOWN    &mmv MOVE_UP       &mmv MOVE_RIGHT   &trans
          &trans  &trans  &trans  &trans  &trans  &trans                    &msc SCRL_LEFT     &msc SCRL_DOWN    &msc SCRL_UP       &msc SCRL_RIGHT   &trans  &trans
                                  &trans  &trans  &trans                    &mkp MCLK          &mkp LCLK         &mkp RCLK
        >;
    };

    Steno {
        label = "Steno";
        bindings = <
                 &kp Q  &kp W  &kp E  &kp R  &kp T                    &kp U  &kp I  &none     &none          &none
                 &kp A  &kp S  &kp D  &kp F  &kp G                    &kp J  &kp K  &kp O     &kp P          &none
          &none  &none  &none  &none  &none  &none                    &none  &none  &kp L     &kp SEMICOLON  &none  &none
                               &none  &kp C  &kp V                    &kp N  &kp M  &to Base
        >;
    };

    Extra2 {
        label = "Extra2";
        bindings = <
                  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
          &trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                                  &trans  &trans  &trans                    &trans  &trans  &trans
        >;
    };

    Extra3 {
        label = "Extra3";
        bindings = <
                  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
          &trans  &trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans  &trans
                                  &trans  &trans  &trans                    &trans  &trans  &trans
        >;
    };
  };
};
